#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

CMAKE = cmake -DCMAKE_INSTALL_PREFIX=/usr \
              -DPACKAGE_ROOT_PREFIX=$(CURDIR)/debian/tmp \
              -DCMAKE_SKIP_RPATH=ON \
              -DCMAKE_BUILD_TYPE=Release \
              $(DEB_SRCDIR)

DEB_MAKE_INSTALL_TARGET = DESTDIR=$(CURDIR)/debian/tmp install

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

DEB_DH_SHLIBDEPS_ARGS_ALL = -l$(CURDIR)/debian/tmp/opt/marble/lib

clean::
	-rm -rf CMakeFiles
	-rm -f CMakeCache.txt
	-rm -f CPackConfig.cmake
	-rm -f CPackSourceConfig.cmake
	-rm -f Makefile
	-rm -f cmake_install.cmake
	-rm -f cmake_uninstall.cmake
	-rm -f svnscript.cmake
	-rm -f install_manifest.txt

common-configure-arch::
	$(CMAKE)

common-install-arch::
#	install -D -m u+rw-x,g+r-wx,o+r-wx $(DEB_SRCDIR)/data/icons/hi32-app-marble.png $(CURDIR)/debian/tmp/usr/share/icons/hicolor/26x26/apps/marble.png
#	install -D -m u+rwx,g+rx-w,o+rx-w $(CURDIR)/debian/marble.sh $(CURDIR)/debian/tmp/opt/marble/bin/marble.sh
#	install -D -m u+rw-x,g+r-wx,o+r-wx $(CURDIR)/debian/marble.service $(CURDIR)/debian/tmp/usr/share/dbus-1/services/marble.service
#	install -D -m u+rw-x,g+r-wx,o+r-wx $(CURDIR)/debian/migration-warning.txt $(CURDIR)/debian/tmp/opt/marble/share/marble/data/migration-warning.txt
#	patch -p0 -d $(DEB_DH_INSTALL_SOURCEDIR) < $(CURDIR)/debian/maemo-launcher.diff
#	mv $(CURDIR)/debian/tmp/usr/share/applications/hildon/marble-mobile.desktop $(CURDIR)/debian/tmp/usr/share/applications/hildon/marble.desktop

common-binary-post-install-indep::
#	rm -f $(CURDIR)/debian/marble-data/usr/share/marble/data/LICENSE.txt
