#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

CMAKE = cmake -DCMAKE_INSTALL_PREFIX=/usr \
              -DPACKAGE_ROOT_PREFIX=$(CURDIR)/debian/tmp \
              -DCMAKE_SKIP_RPATH=ON \
              -DCMAKE_BUILD_TYPE=Release \
              $(DEB_SRCDIR)

DEB_MAKE_INSTALL_TARGET = DESTDIR=$(CURDIR)/debian/tmp install

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

DEB_DH_SHLIBDEPS_ARGS_ALL = -l$(CURDIR)/debian/tmp/usr/lib

clean::
	-rm -rf CMakeFiles
	-rm -f CMakeCache.txt
	-rm -f CPackConfig.cmake
	-rm -f CPackSourceConfig.cmake
	-rm -f Makefile
	-rm -f cmake_install.cmake
	-rm -f cmake_uninstall.cmake
	-rm -f svnscript.cmake
	-rm -f install_manifest.txt

common-configure-arch::
	$(CMAKE)
